<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
                    href="https://github.com/nithish0703" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
                    href="https://www.linkedin.com/in/nithishkumar-s-b769691a0" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='openGmail()' href="mailto:nithish.kr.ece@gmail.com">nithish.kr.ece&#64;gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "click")'
            href="https://github.com/nithish0703/nithish-portfolio" target="_blank" rel="nofollow noopener noreferrer">
            <div>Designed & Built(Angular) by Nithish</div>
        </a>
    </div>

</footer>