<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

<img id="backgroundimg" src="https://cdn.pixabay.com/photo/2016/11/29/04/42/conifers-1867371_960_720.jpg">
<div class="main">
  <div class="header">
    <div class="center">
      <div>
        <img class="pfp" src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg">
        <p id="pfpname">SR</p>
      </div>

    </div>

  </div>

  <div class="content">
    <div style="padding:11px;">
      <p>{{ data | date: 'MMM d, y, h:mm:ss a' }}</p>
      <div class="msg-btn-holder">
        <div class="receiver-msg msg-btn">
          <p>Hi How Can I Help You?</p>
        </div><br><br><br>
        <div class="receiver-msg msg-btn">
          <p>You: {{ userMessage }}</p>
        </div>
      </div>
      <div class="msg-btn-holder">
        <div class="sender-msg msg-btn">
          <p>{{ botResponse }}</p>
        </div>
      </div>

    </div>

  </div>
  <div class="footer">
    <div style="width:100%;padding:11px;">
      <input placeholder="Message" class="text-box" name="message" [(ngModel)]="userMessage"> 
      <div class="send-ico">
        <i style="position:absolute;" class="fas fa-paper-plane" (click)="onSendMessage()"></i>
      </div>

    </div>

  </div>

</div>